<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <ul class="nav nav-tabs navbar-center">
      <li role="presentation"><a href="/">HOME</a></li>
    </ul>
    <div class="container">
        <div class="row">
          <div class="head">
                
                <h3>AREA POINTS</h3>
                  <form action="/map" method="post">
                    latitude1<br>
                    <input type="text" name="lat1" >
                    <br>
                    longitude1<br>
                    <input type="text" name="long1"><br>
                    latitude2<br>
                    <input type="text" name="lat2" >
                    <br>
                    longitude2<br>
                    <input type="text" name="long2">
                    
                    <br><br>
                    <input type="submit" value="Submit">
                  </form>
          </div>
          
      
  </body>